html {
	overflow-y: scroll;
}

body {
	font-family: montserrat, arial, verdana;
	font: 16px sans-serif;
  color: #444;
	text-align: center;
	margin: 0;
}

::-webkit-scrollbar {
	width: .3rem;
}

::-webkit-scrollbar-track {
	background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
	background: #6d6d6d; 
}

.figma-font {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	gap: 1.25rem;
	width: 100%;
	padding-bottom: 70px;
	
	&__buttons {
		background-color: #fff;
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 1rem;
		display: flex;
		gap: 1rem;
		justify-content: center;
		z-index: 999;
		border-top: 1px solid rgba(0, 0, 0, 0.12);

		button {
			width: auto;
		}
	}

	&__button {
		font-size: .7rem !important;
	}
}
